body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    
    
}

.container{
    width: 100%;
    min-height: 100%;
    background-image: url("background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    box-shadow: inset 120px 100px 220px #000000, inset -120px -100px 220px #000000;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 2px 1px black;
    text-transform: capitalize;
    margin-top: 50px;
   

}

.sub_container{
    width: 100%;
    min-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    
}

.first_child{
    max-width: 50%;
    min-height: 50%;
    display:block;
    padding: 50px;
}

.second_child{
    max-width: 50%;
    min-height: 50%;
    margin: 50px;
    display:block;
    padding: 50px;
}

label{
    display: block;
    margin-top: 30px;
    text-transform: capitalize;
    font-size:23px;
    margin-bottom: 5px;
    color:white;
    font-weight:bolder;
}

input{
    width: 300px;
    padding: 7px;
    outline: none; 
    font-size: 16px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

/* firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

#cltBtn{
    display: block;
    
}

#tip_amount,#total_bill{
    color:white;
    font-size: bolder;
    font-size: 40px;
}

button{
    border-radius: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
    font-size: 0.8rem;
    background-color:darkorange;
    box-shadow: 1px 1px 5px 1px #8f9597;
    color:white;
}

p{
    color:red;
    font-size: 18px;
    font-weight:bolder ;
    margin: 5px;
}


@media screen and (max-width:400px){

    .container{
        width:100%;
        max-height: 800px;
    
        }
    .sub_container{
        width:100%;
        min-height: 100%;
        padding: 5px;
    }
    
    h1{
     margin-top: 5px;
    }
    
    
    input{
        width: 100px;
        padding: 4px;
    }
    
    .first_child{
        width: 100%; 
        min-height: 100%;
        padding: 5px;
    }
    
    .second_child{
        width: 100%;
        min-height: 500px;
        padding: 5px;
    }
    
    label{
        margin-top: 3px;
    }

}
    

@media screen and (max-width:768px){

.container{
    width:100%;
    max-height: 500px;

    }
.sub_container{
    width:100%;
    height: auto;
    padding: 10px;
}

h1{
 margin-top: 10px;
}


input{
    width: 200px;
    padding: 5px;
}

.first_child{
    width: 100%; 
    min-height: 100%;
    padding: 10px;
}

.second_child{
    width: 100%;
    min-height: 100%;
    padding: 10px;
}

label{
    margin-top: 10px;
}
}
    
